@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@config "../../tailwind.config.ts";

@theme {
  --font-sans:
    'Mona Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-foreground/20 hover:bg-foreground/30;
  }
}

html,
body {
  height: 100%;
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] leading-[140%] font-bold tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] leading-[140%] font-semibold tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] leading-[140%] font-bold tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] leading-[140%] font-bold tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] leading-[140%] font-semibold tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] leading-[140%] font-medium;
  }

  .base-regular {
    @apply text-[16px] leading-[140%] font-normal;
  }

  .body-bold {
    @apply text-[18px] leading-[140%] font-bold;
  }

  .body-medium {
    @apply text-[18px] leading-[140%] font-medium;
  }

  .small-semibold {
    @apply text-[14px] leading-[140%] font-semibold tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] leading-[140%] font-medium;
  }

  .small-regular {
    @apply text-[14px] leading-[140%] font-normal;
  }

  .subtle-semibold {
    @apply text-[12px] leading-[140%] font-semibold;
  }

  .tiny-medium {
    @apply text-[10px] leading-[140%] font-medium;
  }

  .container {
    @apply mx-auto px-4 2xl:max-w-screen-xl;
  }
  .section {
    @apply /* Responsive for medium screen */ py-8 md:py-16;
  }

  .section-head {
    @apply /* Responsive for medium screen */ /* Responsive for large screen */ pb-8 text-center md:pb-16 lg:mx-auto lg:max-w-screen-sm;
  }

  .section-subtitle {
    @apply text-sm font-medium text-blue-600 uppercase;
  }

  .section-title {
    @apply /* Responsive for medium screen */ py-3 text-3xl leading-snug font-semibold text-foreground md:text-[40px];
  }

  .section-text {
    @apply /* Responsive for medium screen */ text-muted-foreground md:text-xl;
  }

  .img-cover {
    @apply h-full w-full object-cover;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden min-w-[270px] flex-col justify-between rounded-3xl bg-dark-2 px-6 py-10 md:flex;
  }

  .leftsidebar-link {
    @apply rounded-lg transition hover:bg-primary-500;
  }

  .common-container {
    @apply mx-auto flex flex-1 flex-col items-center gap-4 p-10 px-8;
  }
}
